<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>PubHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://www.irishexaminer.com/cms_media/module_img/4063/2031698_3_googlediscover_iStock-1060456922_1_.jpg">
    <h4 class="ion-text-center">Browse our menu to see what drinks suit your taste</h4>
    <ion-button expand="full" (click)="maps()">
      Find your pub
    </ion-button>
  </ion-content>
