<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Draught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let draughts of draughts">
    <img length="200" width="200" src="{{draughts.Poster}}">
    <ion-card-header>
      <ion-card-subtitle>{{draughts.name}}</ion-card-subtitle>
      <ion-card-title>{{draughts.price}}0</ion-card-title>
    </ion-card-header>
    <ion-input type="number" min="0" value="0"></ion-input>
    <ion-button (click)="updateCart()">Add to Cart</ion-button>
    </ion-card>
</ion-content>
